src/FinalWork/GitHubSoapClient/Service References/GitHubBroker/GitHubSoapBrokerImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GitHubSoapBrokerImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" />
      <xsd:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGitHubSoapBroker_GetAllIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIssues" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_GetAllIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_GetRepositoryIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryIssues" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_GetRepositoryIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_CreateIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssue" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_CreateIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_EditIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:EditIssue" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_EditIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_CreateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepository" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_CreateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_EditRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRepository" />
  </wsdl:message>
  <wsdl:message name="IGitHubSoapBroker_EditRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRepositoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IGitHubSoapBroker">
    <wsdl:operation name="GetAllIssues">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetAllIssues" message="tns:IGitHubSoapBroker_GetAllIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetAllIssuesResponse" message="tns:IGitHubSoapBroker_GetAllIssues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryIssues">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetRepositoryIssues" message="tns:IGitHubSoapBroker_GetRepositoryIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetRepositoryIssuesResponse" message="tns:IGitHubSoapBroker_GetRepositoryIssues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetRepositories" message="tns:IGitHubSoapBroker_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/GetRepositoriesResponse" message="tns:IGitHubSoapBroker_GetRepositories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/CreateIssue" message="tns:IGitHubSoapBroker_CreateIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/CreateIssueResponse" message="tns:IGitHubSoapBroker_CreateIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/EditIssue" message="tns:IGitHubSoapBroker_EditIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/EditIssueResponse" message="tns:IGitHubSoapBroker_EditIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/CreateRepository" message="tns:IGitHubSoapBroker_CreateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/CreateRepositoryResponse" message="tns:IGitHubSoapBroker_CreateRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRepository">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitHubSoapBroker/EditRepository" message="tns:IGitHubSoapBroker_EditRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitHubSoapBroker/EditRepositoryResponse" message="tns:IGitHubSoapBroker_EditRepository_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGitHubSoapBroker" type="tns:IGitHubSoapBroker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllIssues">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/GetAllIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryIssues">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/GetRepositoryIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/GetRepositories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIssue">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/CreateIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditIssue">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/EditIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRepository">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/CreateRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRepository">
      <soap:operation soapAction="http://tempuri.org/IGitHubSoapBroker/EditRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GitHubSoapBrokerImpl">
    <wsdl:port name="BasicHttpBinding_IGitHubSoapBroker" binding="tns:BasicHttpBinding_IGitHubSoapBroker">
      <soap:address location="http://localhost:8080/GitHubBroker" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>