src/FinalWork/GitHubSoapClient/Service References/GitHubBroker/wsdl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" />
  <xs:element name="GetAllIssues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="GetAllIssuesResult" nillable="true" type="q1:IssuesCollectionResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryIssues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repository" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="GetRepositoryIssuesResult" nillable="true" type="q2:IssuesCollectionResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="GetRepositoriesResult" nillable="true" type="q3:RepositoriesCollectionResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repository" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="i" nillable="true" type="q4:IssueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="CreateIssueResult" nillable="true" type="q5:StatusResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repository" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="i" nillable="true" type="q6:IssueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" minOccurs="0" name="EditIssueResult" nillable="true" type="q7:StatusResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>