src/FinalWork/GitHubSoapClient/Service References/GitHubBroker/wsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GitHubSoapBroker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/wsdl?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="IssuesCollectionResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issues" nillable="true" type="tns:ArrayOfIssueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssuesCollectionResp" nillable="true" type="tns:IssuesCollectionResp" />
  <xs:complexType name="ArrayOfIssueData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IssueData" nillable="true" type="tns:IssueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssueData" nillable="true" type="tns:ArrayOfIssueData" />
  <xs:complexType name="IssueData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="labels" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueData" nillable="true" type="tns:IssueData" />
  <xs:complexType name="RepositoriesCollectionResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Repositories" nillable="true" type="tns:ArrayOfRepository" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepositoriesCollectionResp" nillable="true" type="tns:RepositoriesCollectionResp" />
  <xs:complexType name="ArrayOfRepository">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Repository" nillable="true" type="tns:Repository" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepository" nillable="true" type="tns:ArrayOfRepository" />
  <xs:complexType name="Repository">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RepositoryData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Repository" nillable="true" type="tns:Repository" />
  <xs:complexType name="RepositoryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepositoryData" nillable="true" type="tns:RepositoryData" />
  <xs:complexType name="CreationStatusResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusResp">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewEntityId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreationStatusResp" nillable="true" type="tns:CreationStatusResp" />
  <xs:complexType name="StatusResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:StatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResp" nillable="true" type="tns:StatusResp" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
</xs:schema>