src/Session2/EndPointBehavior.Consumer/Service References/Service3/wsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WordReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordReq" nillable="true" type="tns:WordReq" />
  <xs:complexType name="WordResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordResp" nillable="true" type="tns:WordResp" />
</xs:schema>